html(lang="en")
  head
    title This is practicing 
  body
    header
      h1 I have to become better everyday
      p this year 2019 I will become a professional web developer
      //this is how a variable is declared and accessed in pug
      -var name = 'Erik'
      h2 #{name} will achieve amazing stuff in 2019!

//Tables are defined in pug with the help of table tag

//Table rows are defined with the help of tr tags

//table headings are defined with the help of th

//table data defined with the help of td

table(style='width:100%', border='1') 
  tr
    th Name
    th Last Name
    th Age
  tr
    td Erik
    td L
    td 23
  tr
    td Camilla
    td Cabello
    td 21
  tr
    td Selena
    td Gomez
    td 26